<!DOCTYPE html>
<html>
  <head>
    <title>FWC - feelings when coffee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- third-party styles -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,400,600,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a9612030e.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% theme_color = current_user ? current_user.theme_color : "#C8EAE8" %>
    <%= render "shared/navbar", theme_color: theme_color%>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
